<ons-navigator ng-controller="poiListCtrl">
   <ons-page>
    <ons-toolbar fixed-style ng-controller="SlidingMenuController" style="background-color: #3c84bc">
        <div class="left">
            <ons-toolbar-button ng-click="slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">
          <div style="width: 60%;margin: auto;">
            <img src="images/Logo.png">
          </div>
        </div>
    </ons-toolbar>

	    <!-- <button type="button" ng-click="getItems()">Get Items</button> -->
	    <!-- <ul>
	       <li ng-repeat="item in items">item.firstName</li> 
	    </ul> -->
		<ons-list modifier="chevron tappable">
			<ons-list-item ng-repeat="m in messages" class="n" >
			<!-- <li>{{messages}}</li> -->
	    	  <div class="list__item__left">
	            <img src="{{path}}{{m.linkname}}" class="avatar" style="border-radius: 20px;" ng-click="openDetails(m)">
	          </div>
	          <div class="list__item__center" ng-click="openDetails(m)">
	            {{m.name}}
	          </div>
	          <div class="list__item__right">
	          	<ons-icon icon="md-pin-drop" ng-click="openMap(m);"></ons-icon>&nbsp;
	          </div>
	        </ons-list-item>
	    </ons-list>
    
    </ons-page>
</ons-navigator>
